@page "/admin/routes"
@inject IJSRuntime JS
@rendermode RenderMode.InteractiveServer
@using Core.Dto
@using Application.Components.Components.Admin

<AdminMenuComponent/>
<RoutesMenuComponent OnSend=Apply @ref=RouteMenuComponentExample OnNewRouteCreated="ShowCreatedRoute"/>

<div class="routes-container">
	@foreach (var item in Routes.Values)
	{
		<div class="route-card" @onclick="() => GoToRoute(item.Id)">
			<div class="route-card-content">
				<a>
					@item.Title
				</a>
				<div><div>Дата создания:</div><div>@item.CreationDateTime</div></div>
			</div>
			<div class="route-buttons-container">
				<div>
					<button @onclick:stopPropagation="@true" @onclick="() => ShowRoute(item)" class="btn btn-sm @(item.IsHidden ? "": "hidden")">
						<img src="icons/eye-slash.svg" alt="Скрыто" />
					</button>
					<button @onclick:stopPropagation="@true" @onclick="() => HideRoute(item)" class="btn btn-sm @(item.IsHidden ? "hidden" : "")">
						<img src="icons/eye.svg" alt="Показано" />
					</button>
				</div>
				<div @onclick:stopPropagation="@true" @onclick="DeleteRoute">
					<button class="btn btn-sm"><img src="icons/trash.svg" alt="Удалить" /></button>
				</div>
				</div>
		</div>
	}
</div>