<div class="form-container">
	@if (FormErrors.IsErrorsByKey(nameof(NewRoute.Title)))
	{
		<div class="text-danger">
			@foreach (var error in FormErrors.GetErrorsByKey(nameof(NewRoute.Title)))
			{
				<p>@error</p>
			}
		</div>
	}
	<label>@NewRoute.GetDisplayName(nameof(NewRoute.Title))</label>
	<InputText class="form-control" @bind-Value=NewRoute.Title></InputText>

	@if (FormErrors.IsErrorsByKey(nameof(NewRoute.Description)))
	{
		<div class="text-danger">	
			@foreach (var error in FormErrors.GetErrorsByKey(nameof(NewRoute.Description)))
			{
				<p>@error</p>
			}
		</div>
	}
	<label>@NewRoute.GetDisplayName(nameof(NewRoute.Description))</label>
	<InputText class="form-control" @bind-Value=NewRoute.Description></InputText>

	@if (FormErrors.IsErrorsByKey(nameof(NewRoute.MaxCountPeople)))
	{
		<div class="text-danger">
			@foreach (var error in FormErrors.GetErrorsByKey(nameof(NewRoute.MaxCountPeople)))
			{
				<p>@error</p>
			}
		</div>
	}
	<label>@NewRoute.GetDisplayName(nameof(NewRoute.MaxCountPeople))</label>
	<InputNumber class="form-control" @bind-Value=NewRoute.MaxCountPeople></InputNumber>

	@if (FormErrors.IsErrorsByKey(nameof(NewRoute.MinCountPeople)))
	{
		<div class="text-danger">
			@foreach (var error in FormErrors.GetErrorsByKey(nameof(NewRoute.MinCountPeople)))
			{
				<p>@error</p>
			}
		</div>
	}
	<label>@NewRoute.GetDisplayName(nameof(NewRoute.MinCountPeople))</label>
	<InputNumber class="form-control" @bind-Value=NewRoute.MinCountPeople></InputNumber>

	@if (FormErrors.IsErrorsByKey(nameof(NewRoute.BaseCost)))
	{
		<div class="text-danger">
			@foreach (var error in FormErrors.GetErrorsByKey(nameof(NewRoute.BaseCost)))
			{
				<p>@error</p>
			}
		</div>
	}
	<label>@NewRoute.GetDisplayName(nameof(NewRoute.BaseCost))</label>
	<InputNumber class="form-control" @bind-Value=NewRoute.BaseCost></InputNumber>

	<div class="controll-buttons">
		<button class="btn btn_sm" @onclick=Save>Сохранить</button>
	</div>
</div>