<div>
	@if (FormErrors.IsErrorsByKey(nameof(NewRoute.Title)))
	{
		<div class="text-danger">
			@foreach (var error in FormErrors.GetErrorsByKey(nameof(NewRoute.Title)))
			{
				<p>@error</p>
			}
		</div>
	}
	<label>@NewRoute.GetDisplayName(nameof(NewRoute.Title))</label>
	<InputText @bind-Value=NewRoute.Title></InputText>

	@if (FormErrors.IsErrorsByKey(nameof(NewRoute.Description)))
	{
		<div class="text-danger">
			@foreach (var error in FormErrors.GetErrorsByKey(nameof(NewRoute.Description)))
			{
				<p>@error</p>
			}
		</div>
	}
	<label>@NewRoute.GetDisplayName(nameof(NewRoute.Description))</label>
	<InputText @bind-Value=NewRoute.Description></InputText>

	@if (FormErrors.IsErrorsByKey(nameof(NewRoute.MaxCountPeople)))
	{
		<div class="text-danger">
			@foreach (var error in FormErrors.GetErrorsByKey(nameof(NewRoute.MaxCountPeople)))
			{
				<p>@error</p>
			}
		</div>
	}
	<label>@NewRoute.GetDisplayName(nameof(NewRoute.MaxCountPeople))</label>
	<InputNumber @bind-Value=NewRoute.MaxCountPeople></InputNumber>

	@if (FormErrors.IsErrorsByKey(nameof(NewRoute.MinCountPeople)))
	{
		<div class="text-danger">
			@foreach (var error in FormErrors.GetErrorsByKey(nameof(NewRoute.MinCountPeople)))
			{
				<p>@error</p>
			}
		</div>
	}
	<label>@NewRoute.GetDisplayName(nameof(NewRoute.MinCountPeople))</label>
	<InputNumber @bind-Value=NewRoute.MinCountPeople></InputNumber>

	@if (FormErrors.IsErrorsByKey(nameof(NewRoute.BaseCost)))
	{
		<div class="text-danger">
			@foreach (var error in FormErrors.GetErrorsByKey(nameof(NewRoute.BaseCost)))
			{
				<p>@error</p>
			}
		</div>
	}
	<label>@NewRoute.GetDisplayName(nameof(NewRoute.BaseCost))</label>
	<InputNumber @bind-Value=NewRoute.BaseCost></InputNumber>

	<button @onclick=Save>Сохранить</button>
</div>